<MudCard>
    <div
    style="display: flex; flex-direction:column; justify-content: center; align-items: center; padding:10px;">
        <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Large" Class="mb-3"/>
        <MudText Typo="Typo.h5">@Label</MudText>
    </div>
</MudCard>